<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directive</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
</head>
<body>
    <div id="app">
        <h2 v-bind:id="uid">디렉티브</h2>
        <p v-if="flag">if</p>
        <p v-show="flag">show</p>
        <ul>
            <li v-for="language in languages">{{ language }}</li>
        </ul>
        <button v-on:click="openAlert">버튼</button>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                flag: 'true',
                languages: [
                    'Java',
                    'Javascript',
                    'C++',
                    'Python'
                ],
                uid: 'directive'
            },
            methods: {
               openAlert(){
                   alert("대화상자!")
               }
            }
        })
    </script>
</body>
</html>